/* بدنه سایت */
body {
  margin: 0;
  font-family: 'Vazirmatn', sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #fff7f0, #f2e0d0);
  color: #3e2723;
}

/* هدر */
header {
  padding: 30px 10px;
}
h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
header p {
  font-size: 18px;
  color: #5d4037;
}

/* عکس منو */
#menu-container img {
  max-width: 90%;
  height: auto;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s ease;
}
#menu-container img.loaded {
  opacity: 1;
  transform: translateY(0);
}

/* دکمه */
button {
  background-color: #6f4e37;
  color: #fff;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button i {
  margin-left: 8px;
}
button:hover {
  background-color: #8b5e3c;
  transform: scale(1.05);
}
